# Bibliotecas

In [0]:
import pandas as pd #análise de dados em tabelas
import numpy as np #análise de números
import seaborn as sb #análise em gráficos

# Stroke Machine Learning Classification Model
With categorical data 
and train and test sets

In [0]:
train = 'http://bit.ly/avctreino'
test = 'http://bit.ly/avcteste'

In [0]:
train = pd.read_csv(train, decimal='.')
test = pd.read_csv(test, decimal='.')

In [0]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30380 entries, 0 to 30379
Data columns (total 12 columns):
id                   30380 non-null int64
gender               30380 non-null int64
age                  30380 non-null int64
hypertension         30380 non-null int64
heart_disease        30380 non-null int64
ever_married         30380 non-null int64
work_type            30380 non-null int64
residence_type       30380 non-null int64
avg_glucose_level    30380 non-null int64
bmi                  30380 non-null int64
smoking_status       30380 non-null int64
stroke               30380 non-null int64
dtypes: int64(12)
memory usage: 2.8 MB

In [0]:
train.columns.tolist()

['id',
 'gender',
 'age',
 'hypertension',
 'heart_disease',
 'ever_married',
 'work_type',
 'residence_type',
 'avg_glucose_level',
 'bmi',
 'smoking_status',
 'stroke']

In [0]:
X_train = train[['gender',
 'age',
 'hypertension',
 'heart_disease',
 'ever_married',
 'work_type',
 'residence_type',
 'avg_glucose_level',
 'bmi',
 'smoking_status']]
y_train = train['stroke']

In [0]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: stroke, dtype: int64

In [0]:
X_test = test[['gender',
 'age',
 'hypertension',
 'heart_disease',
 'ever_married',
 'work_type',
 'residence_type',
 'avg_glucose_level',
 'bmi',
 'smoking_status']]
y_test = test['stroke']

### Dictionary
- Gender: Male= 0, Female= 1
- Age: Young= 0, Older= 1 (> 35)
- Hypertension: No= 0, Yes= 1
- Heart Disease: No= 0, Yes= 1
- Ever Married: No= 0, Yes= 1
- Works: 0 = No, 1 = Yes
- Residence type: Rural= 0, Urban= 1
- Glucose Level: 0= Low, 1= High (140mg, after meal)
- BMI (body mass index): 0= Low, 1= High (30)
- Smoking Status: 0 = never smoked, 1 = smoked

## Explore Data

In [0]:
df.head()

      id  gender  age  ...  bmi  smoking_status  stroke
0  30669       0    0  ...    0               0       0
1  30468       0    1  ...    1               0       0
2  16523       1    0  ...    0               0       0
3  56543       1    1  ...    1               1       0
4  46136       0    0  ...    0               0       0

[5 rows x 12 columns]

## Prepare model

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
modelo = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=42)

In [0]:
modelo.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

## Evaluate Model

In [0]:
p = modelo.predict(X_test)

In [0]:
p

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
from sklearn.metrics import classification_report
print(classification_report(y_test, p))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     12785
           1       0.00      0.00      0.00       235

    accuracy                           0.98     13020
   macro avg       0.49      0.50      0.50     13020
weighted avg       0.96      0.98      0.97     13020

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [0]:
modelo.score(X_test, y_test)

0.9819508448540707