# Bibliotecas

In [4]:
import pandas as pd #análise de dados em tabelas
import numpy as np #análise de números
import seaborn as sb #análise em gráficos

# Cardiovascular Machine Learning Classification Model
With categorical features

In [5]:
cvd = pd.read_csv('http://bit.ly/cardiodados')

In [6]:
cvd.columns.tolist()

['patientID',
 'age',
 'htn',
 'treat',
 'smoking',
 'race',
 't2d',
 'gender',
 'numAge',
 'bmi',
 'tchol',
 'sbp',
 'cvd']

In [7]:
cvd[['htn', 'treat']]

       htn treat
0        N     N
1        N     N
2        Y     Y
3        N     N
4        N     N
...     ..   ...
446198   Y     Y
446199   N     N
446200   N     N
446201   Y     Y
446202   N     N

[446203 rows x 2 columns]

In [8]:
cvd_Shtn = cvd[cvd['htn'] == 'Y']
cvd_Nhtn = cvd[cvd['htn'] == 'N']

In [9]:
total_cvd_htnS = len(cvd_Shtn)
total_cvd_htnN = len(cvd_Nhtn)
total_cvd_htnT = len(cvd_Shtn) + len(cvd_Nhtn)

In [10]:
total_cvd_htnS / total_cvd_htnT

0.28621950098946

In [11]:
cvd.groupby('htn')['treat'].value_counts()

htn  treat
N    N        318491
Y    Y         75139
     N         52573
Name: treat, dtype: int64

In [12]:
cvd['htn'] == 'Y'

0         False
1         False
2          True
3         False
4         False
          ...
446198     True
446199    False
446200    False
446201     True
446202    False
Name: htn, Length: 446203, dtype: bool

In [13]:
cvd.head()

,patientID,age,htn,treat,smoking,race,t2d,gender,numAge,bmi,tchol,sbp,cvd
0,HHUID00519967,70-90,N,N,N,White,N,M,83,17,156,113,N
1,HHUID00379006,40-55,N,N,N,White,N,M,44,23,167,126,N
2,HHUID00357476,55-70,Y,Y,N,White,N,M,62,16,214,175,N
3,HHUID00862369,40-55,N,N,N,White,N,M,42,22,158,102,N
4,HHUID00481496,55-70,N,N,N,White,N,M,63,24,244,132,N

In [14]:
cvd.shape

(446203, 13)

In [15]:
cvd_col_imc = cvd[(cvd['tchol'] > 200) & (cvd['bmi'] > 30)]

In [16]:
problema = cvd[(cvd['htn'] == 'Y') | (cvd['t2d'] =='Y') | (cvd['numAge'] > 35)]

In [17]:
problema.to_csv('e.csv')

## .loc

In [18]:

cvd.loc[cvd['htn'] == 'N', 'htn_bin'] = 0
cvd['htn_bin'].value_counts()

0.0    318491
Name: htn_bin, dtype: int64

In [19]:
cvd['race'].value_counts()

White         335201
Asian/PI       84840
Black/AfAm     23722
AmInd           2440
Name: race, dtype: int64

In [20]:
cvd.loc[cvd['race'] == 'White', 'race_W'] = 1
cvd.loc[cvd['race'] != 'White', 'race_W'] = 0

cvd.loc[cvd['race'] == 'Asian/PI', 'race_As'] = 1
cvd.loc[cvd['race'] != 'Asian/PI', 'race_As'] = 0

cvd.loc[cvd['race'] == 'Black/AfAm', 'race_Af'] = 1
cvd.loc[cvd['race'] != 'Black/AfAm', 'race_Af'] = 0

cvd.loc[cvd['race'] == 'AmInd', 'race_Am'] = 1
cvd.loc[cvd['race'] != 'AmInd', 'race_Am'] = 0

cvd['race_As'].value_counts()

0.0    361363
1.0     84840
Name: race_As, dtype: int64

In [21]:
cvd.loc[cvd['bmi'] > 30, 'bmi_bin'] = 1
cvd.loc[cvd['bmi'] <= 30, 'bmi_bin'] = 0

In [22]:
cvd.head()

,patientID,age,htn,treat,smoking,race,t2d,gender,numAge,bmi,tchol,sbp,cvd,htn_bin,race_W,race_As,race_Af,race_Am,bmi_bin
0,HHUID00519967,70-90,N,N,N,White,N,M,83,17,156,113,N,0.0,1.0,0.0,0.0,0.0,0.0
1,HHUID00379006,40-55,N,N,N,White,N,M,44,23,167,126,N,0.0,1.0,0.0,0.0,0.0,0.0
2,HHUID00357476,55-70,Y,Y,N,White,N,M,62,16,214,175,N,NaN,1.0,0.0,0.0,0.0,0.0
3,HHUID00862369,40-55,N,N,N,White,N,M,42,22,158,102,N,0.0,1.0,0.0,0.0,0.0,0.0
4,HHUID00481496,55-70,N,N,N,White,N,M,63,24,244,132,N,0.0,1.0,0.0,0.0,0.0,0.0

### Transform Data

In [25]:
def transform(valor):
  if valor == 'Y':
    return 1
  else:
    return 0

In [26]:
def gender(valor):
  if valor == 'F':
    return 1
  else:
    return 0

In [27]:
cvd['htn'] = cvd['htn'].map(transform) 
cvd['treat'] = cvd['treat'].map(transform) 
cvd['smoking'] = cvd['smoking'].map(transform) 
cvd['t2d'] = cvd['t2d'].map(transform) 
cvd['cvd'] = cvd['cvd'].map(transform) 
cvd['gender'] = cvd['gender'].map(gender)

In [28]:
cvd.race.value_counts()

White         335201
Asian/PI       84840
Black/AfAm     23722
AmInd           2440
Name: race, dtype: int64

In [29]:
cvd['asian'] = 0
cvd.loc[ cvd['race'] == 'Asian/PI', 'asian' ] = 1

cvd['white'] = 0
cvd.loc[ cvd['race'] == 'White', 'asian' ] = 1

cvd['black'] = 0
cvd.loc[ cvd['race'] == 'Black/AfAm', 'black' ] = 1

cvd['amind'] = 0
cvd.loc[ cvd['race'] == 'AmInd', 'asian' ] = 1

In [30]:
cvd = cvd.drop('race', 1)

### Data types

In [31]:
cvd.head()

,patientID,age,htn,treat,smoking,t2d,gender,numAge,bmi,tchol,...,htn_bin,race_W,race_As,race_Af,race_Am,bmi_bin,asian,white,black,amind
0,HHUID00519967,70-90,0,0,0,0,0,83,17,156,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
1,HHUID00379006,40-55,0,0,0,0,0,44,23,167,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
2,HHUID00357476,55-70,1,1,0,0,0,62,16,214,...,NaN,1.0,0.0,0.0,0.0,0.0,1,0,0,0
3,HHUID00862369,40-55,0,0,0,0,0,42,22,158,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
4,HHUID00481496,55-70,0,0,0,0,0,63,24,244,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0

age is categorical or numerical?

In [32]:
cvd.age.value_counts()

20-40    142397
40-55    117790
55-70     98978
70-90     45461
0-20      41577
Name: age, dtype: int64

### Prepare Train Data

In [33]:
cvd.head()

,patientID,age,htn,treat,smoking,t2d,gender,numAge,bmi,tchol,...,htn_bin,race_W,race_As,race_Af,race_Am,bmi_bin,asian,white,black,amind
0,HHUID00519967,70-90,0,0,0,0,0,83,17,156,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
1,HHUID00379006,40-55,0,0,0,0,0,44,23,167,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
2,HHUID00357476,55-70,1,1,0,0,0,62,16,214,...,NaN,1.0,0.0,0.0,0.0,0.0,1,0,0,0
3,HHUID00862369,40-55,0,0,0,0,0,42,22,158,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
4,HHUID00481496,55-70,0,0,0,0,0,63,24,244,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0

In [34]:
cvd.columns

Index(['patientID', 'age', 'htn', 'treat', 'smoking', 't2d', 'gender',
       'numAge', 'bmi', 'tchol', 'sbp', 'cvd', 'htn_bin', 'race_W', 'race_As',
       'race_Af', 'race_Am', 'bmi_bin', 'asian', 'white', 'black', 'amind'],
      dtype='object')

In [35]:
cvd = cvd.dropna()

In [37]:
X = cvd[['htn', 'treat', 'smoking', 't2d', 'gender',
       'numAge', 'bmi', 'tchol', 'sbp', 'htn_bin', 'race_W', 'race_As',
       'race_Af', 'race_Am', 'bmi_bin', 'asian', 'white', 'black', 'amind']]
y = cvd.cvd

### Split Train Test

In [39]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

### Prepare model, train, predict and evaluate

In [1]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\fabia\miniconda3\envs\ds\lib\site-packages (0.90)
Requirement already satisfied: numpy in c:\users\fabia\miniconda3\envs\ds\lib\site-packages (from xgboost) (1.16.4)
Requirement already satisfied: scipy in c:\users\fabia\miniconda3\envs\ds\lib\site-packages (from xgboost) (1.3.1)

In [ ]:
# Import models
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
clf1 = LogisticRegression() # regressão logistica
clf2 = RandomForestClassifier() # arvores aleatorias
clf3 = xgb.XGBClassifier() # boost gradient
clf4 = SVC(gamma='auto')
clf5 = KNeighborsClassifier(n_neighbors=3)

# Train, Predict and Evaluate the model 
from sklearn.metrics import accuracy_score, classification_report, recall_score
from sklearn.model_selection import cross_val_score
for clf, label in zip([clf1, clf2, clf3, clf4, clf5], 
                      ['Logistic Regression', 'Random Forest', 'XGBoost', 'SVM', 'KNN']):
    clf.fit(X_train, y_train) #training model
    p = clf.predict(X_test) #predicting model
    scores = cross_val_score(clf, X_test, y_test, cv=10, scoring='recall_macro')
    print(label)
    print(classification_report(y_test, p)) #evaluating model
    print('Sensibilidade =', recall_score(y_test, p))
    print('Sensibilidade da Validação Cruzada', np.mean(scores))
    print("_______________________________________________________")

In [ ]:
p

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
sub = pd.Series(p, index=cvd_test['patientID'], name='cvd_bin')

In [ ]:
sub.to_csv('primeiro.csv', header=True)

In [ ]:
!head -n10 primeiro.csv

patientID,cvd_bin
HHUID00209262,0
HHUID00618715,0
HHUID00077486,0
HHUID00791386,0
HHUID00468893,0
HHUID00626459,0
HHUID00514950,0
HHUID00470212,0
HHUID00753570,0