# Bibliotecas

In [0]:
import pandas as pd #análise de dados em tabelas
import numpy as np #análise de números
import seaborn as sb #análise em gráficos

# DATASUS

In [0]:
df = pd.read_csv('http://bit.ly/df_sim_es_2017')

In [0]:
df.shape

(24112, 93)

In [0]:
df.head(2)

   Unnamed: 0  NUMERODO        CODINST  ...  DTCONCASO  FONTESINF  ALTCAUSA
0           1  23751023  RES3205300001  ...        NaN        NaN       NaN
1           2  23750944  RES3205300001  ...        NaN        NaN       NaN

[2 rows x 93 columns]

In [0]:
df.columns

Index(['Unnamed: 0', 'NUMERODO', 'CODINST', 'NUMERODV', 'ORIGEM', 'TIPOBITO',
       'DTOBITO', 'HORAOBITO', 'NUMSUS', 'NATURAL', 'CODMUNNATU', 'DTNASC',
       'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC', 'ESC2010', 'SERIESCFAL',
       'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB', 'ESTABDESCR', 'CODMUNOCOR',
       'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE', 'OCUPMAE',
       'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC', 'GESTACAO',
       'PARTO', 'OBITOPARTO', 'PESO', 'NUMERODN', 'TPMORTEOCO', 'OBITOGRAV',
       'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA', 'LINHAA',
       'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS', 'CB_PRE', 'CRM',
       'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO', 'ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'TPPOS', 'DTINVESTIG', 'CAUSABAS_O', 'DTCADASTRO',
       'ATESTANTE', 'STCODIFICA', 'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB',
       'FONTEINV', 'DTRECEBIM', 'ATESTADO', 'DTRECORIGA', 'CAUSAMAT',
       'ESCMAEAGR1', 'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA',
       'NUDIASOBCO', 'NUDIASOBIN', 'DTCADINV', 'TPOBITOCOR', 'DTCONINV',
       'FONTES', 'TPRESGINFO', 'TPNIVELINV', 'NUDIASINF', 'DTCADINF',
       'MORTEPARTO', 'DTCONCASO', 'FONTESINF', 'ALTCAUSA'],
      dtype='object')

In [0]:
df['LINHAII'].isnull().sum()

15437

In [0]:
df['LINHAII'].isnull().sum()

15437

In [0]:
df_linhaII = df.dropna(subset={'LINHAII'})

In [0]:
df_linhaII['LINHAII'].value_counts()

*I10X                   956
*E149                   379
*I10X*E149              292
*F172                   206
*G309                   184
*E149*I10X              165
*R54X                   160
*N189                   154
*F102                   152
*N179                   132
*J449                    90
*I694                    77
*I64X                    72
*I500                    71
*E46X                    69
*I509                    67
*E669                    58
*F172*F102               55
*F102*F172               50
*N19X                    50
*I10X*E119               50
*I48X                    47
*J189                    45
*K746                    45
*E119                    42
*I10X*F172               42
*B24X                    39
*N189*I10X               39
*C61X                    38
*I678                    38
                       ...
*E835                     1
*I10X*I890                1
*J449*J189                1
*I638                     1
*P543*P073                1
*C719*E149                1
*S729*T792                1
*I251*I48X                1
*I519*I259                1
*Q771                     1
*V295                     1
*I678*I500                1
*N189*E144                1
*K929                     1
*E149*D689                1
*I255*N19X                1
*E149*D759                1
*E46X*E039                1
*S299*S122                1
*C539*N179                1
*B24X*F102*F172*E149      1
*E668*N390                1
*I10X*E878*E889           1
*A90X                     1
*J841*E149                1
*G309*C61X                1
*C720                     1
*N390*N189                1
*K562*Q430                1
*N189*N179*C900           1
Name: LINHAII, Length: 2550, dtype: int64

In [0]:
df_linhaII[ df_linhaII['LINHAII'] == '*I10X' ]['CAUSABAS'].value_counts()

I219    133
E149     59
I678     45
J189     45
G309     44
I10      34
I619     31
I64      30
J440     22
I120     17
I694     16
J159     15
I110     14
C61      14
E142     14
E145     13
I609     13
J449     11
N390     10
C349     10
I639      8
C189      8
I255      7
G20       6
C80       6
I710      6
G319      6
I350      6
F102      6
C509      6
       ...
C185      1
E878      1
B24       1
D590      1
N40       1
C519      1
N170      1
G919      1
E106      1
Y835      1
A539      1
I850      1
I612      1
C19       1
K929      1
C728      1
D619      1
C259      1
I270      1
K460      1
M625      1
I443      1
I258      1
K805      1
C710      1
G629      1
K810      1
E117      1
C845      1
C029      1
Name: CAUSABAS, Length: 210, dtype: int64